.country__details-container {
  padding: 2rem 6rem;
  background: var(--light-mode-bg);
  min-height: calc(100vh - 100px);
}

.bact-btn {
  padding: 1rem 2rem;
  outline: 0;
  border: 2px solid black;
  border-radius: 0.5rem;
  background: var(--light-mode-bg);
  cursor: pointer;
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.country__details {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.country__details .country__flag {
  display: block;
  max-width: 500px;
  width: 100%;
}

.country__details-info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 600px;
}

.country__details-info h2 {
  width: 100%;
  font-size: 2rem;
  font-weight: 800;
}

.country__details-info div p {
  margin-bottom: 0.5rem;
}

.country__details-info div span {
  font-weight: 800;
}

.country__details-info div .border__countries {
  display: inline-block;
  padding: 0 2rem;
  background: white;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  font-weight: 300;
  font-size: 0.8rem;
}

@media screen and (max-width: 1024px) {
  .country__details-container {
    padding: 2rem 4rem;
  }

  .country__details {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .country__details-container {
    padding: 2rem;
  }
}
